<h1>Password Generator</h1>
<form class="password__form">
   <div class="form_control">
      <label for="length">Character Length <span>10</span></label>
      <input 
        type="range"
        id="length" 
        name="length" 
        min="4"
        max="20"
        value="4"
        [(ngModel)]="length"
      >
   </div>
   <div class="">
     <input 
        type="checkbox"
        id="length" 
        name="length" 
        min="4"
        max="20"
        value="4"
        [(ngModel)]="length"
     >
     <label for="length">Length</label>
 </div>
</form>