@import '../styles.scss';

h1 {
  color: $text-color;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: $form-background;
  width: 40vw;
  padding: 5px;
}

.form__control_range {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.form__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}

label {
  span {
    color: $accent-color;
  }
  color: $text-color2;
}

.form__label {
  margin: 20px 0;
  text-transform: capitalize;
  color: $text-color2;
}

.form_password_strenth {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: $primary;
  padding: 5px;
}

.form__btn {
  margin: 20px 0;
  width: 100%;
  height: 40px;
  background-color: $accent-color;
  color: $text-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: $accent-color;
  }
}