
<h1>Password Generator</h1>

<section 
  *ngIf="!passwordStrength">
  <p
  style="background-color: red; padding: 5px;"
  > 
   Please select at least one option!!!
  </p>
</section>
<section>
   <div #container class="clipboard-container">
      <h3>
         <strong>
            {{ password || 'Generate a password' }}
         </strong>
      </h3>
      <mat-icon
         class="cliboard__icon"
         (click)="copyPassword()"
      >
      content_copy
      </mat-icon>
   </div>
   <div class="divider"></div>
   <app-form
      (passwordStrengthEvent)="onPasswordStrength($event)"
      (passwordEvent)="onChangePassword($event)"
   ></app-form>
</section>